body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow:
    0 0 0 2px white,
    2px 2px 3rem rgba(81, 60, 60, 0.6);
  background-color: rgb(238, 238, 238);
}

.description img {
  width: 50%;
  border-radius: 50%;
  box-shadow:
    0 0 0 2px white,
    2px 2px 5rem rgba(39, 18, 18, 0.6);
  margin-bottom: 3vh;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow:
    0 0 0 2px white,
    1px 1px 1rem rgba(153, 144, 144, 0.6);
  border-radius: 7px;
  background-color: white;
  padding: 70px 0 50px;
}

.description p {
  margin: 10px 0;
}

.name {
  font-weight: 600;
  font-size: larger;
  color: rgb(73, 14, 14);
}

.tag,
.location {
  font-size: 40px;
  opacity: 0.55;
}

.stats {
  display: inline-flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gridItem {
  box-shadow:
    0 0 0 2px white,
    1px 1px 1rem rgba(153, 144, 144, 0.6);
  width: calc(100% / 3);
  padding-block: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: rgb(73, 14, 14);
}

.label {
  font-size: 30px;
  opacity: 0.55;
}

.quantity {
  font-size: 35px;
  opacity: 0.8;
  font-weight: 600;
}
