.friend-list {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow:
    0 0 0 2px white,
    2px 2px 3rem rgba(81, 60, 60, 0.6);
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
  list-style: none;
}

.friend-list .item {
  align-items: center;
  justify-content: baseline;
  gap: 40px;
  width: 100%;
  display: flex;
}

.item .avatar {
  width: 110px;
}

.item .status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 15px;
}
